<!-- About -->

<section class="about" id="about">
  <div class="container text-center animated  bounce">
    <h2>
        A propos
      </h2>

    <p>
      Voluptua scripserit per ad, laudem viderer sit ex. Ex alia corrumpit voluptatibus usu, sed unum convenire id. Ut cum nisl moderatius, per nihil dicant commodo an. Eum tacimates erroribus ad. Atqui feugiat euripidis ea pri, sed veniam tacimates ex. Menandri
      temporibus an duo.
    </p>

    <div class="row stats-row d-flex justify-content-center">
      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">232</span> Clients satisfait
        </div>
      </div>

      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">79</span> Km parcourus
        </div>
      </div>

      <!--<div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">1,463</span> Heures travaillées
        </div>
      </div>-->

      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">15</span>  Heures travaillées
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /About -->