<!-- About -->

<section class="about" id="about">
  <div class="container text-center animated  bounce">
    <h2>
        A propos
      </h2>

    <p>
      Société de transports pour professionnel et particulier en Ile-de-France. Nous assurons vos trajets toute destination dans un confort assuré.
      Qualité de sercive garanti.

    </p>

    <div class="row stats-row d-flex justify-content-center">
      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up"><10000</span> Clients satisfait
        </div>
      </div>

      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up"><15000</span> Km parcourus
        </div>
      </div>

      <!--<div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up"><8000</span> Heures travaillées
        </div>
      </div>-->

      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up"><8000</span>  Heures travaillées
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /About -->