<div id="modal" class="modal fade default-example-modal-left-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-left modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title ">Mentions Légales</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" style="color: black">
                Cette page contient l’ensemble des informations légales de Cars IDF. 
                    
                <h3>Cars IDF Prestige</h3>
                Le site www.cars-idf.com appartient à la société Cars IDF Prestige
                
                <li>1 Allée Rosalie</li>
                <li>91940 Les Ulis</li>

                <li>Email : contact@webconcepter.com</li>
                <li>Téléphone : 0767036848</li>
                <li>SIRET : 848 020 384 00014</li>

                <hr>
                    <h3>Hébergement</h3> 
                    Heroku de Salesforce
                    Salesforce Data Protection Officer (Salesforce Privacy Team)
                    415 Mission St., 3rd Floor
                    San Francisco, CA 94105, USA
                    <hr>
                    
                    </br>
                    <h3>Propriété intellectuelle:</h3>
                        Ce site constitue une œuvre protégée par le droit d’auteur en vigueur en France. Par ailleurs, sauf mention contraire, les droits de propriété intellectuelle sur les documents contenus dans le site (textes, photographies, images etc.) et chacun des éléments publiés sur le site cars-idf.com sont la propriété exclusive de cars-idf.com. L’utilisation ou la reproduction de tous éléments publiés sur le site cars-idf.com est expressément interdite (art. 122.4 du code de la propriété intellectuelle).
                    </br>
                    <hr>
                    <h3>Données personnelles:</h3>
                    Vos données personnelles (nom, prénom,  e-mail, …) sont collectées dans le strict respect de la loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l’Economie Numérique et dans la nouvelle loi RPGD du 25 mai 2018.
                        Conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés modifiées par la nouvelle loi Informatique et Libertés du 6 août 2004, vous disposez d’un droit d’accès, de modifications, de rectifications et de suppression des données qui vous concernent. Pour cela il vous suffit de nous contacter par courrier, par e-mail ou par téléphone.
                    
                    </br>
                    <hr>
                    <h3>Formulaires de contact</h3>
                    Les données des formulaires de contact sont collectées afin de pouvoir répondre à vos différentes demandes professionnelles (email, nom/prénom, message et adresse IP). Ces données sont utilisées pour répondre à vos différentes sollicitations commerciales.
                    En aucun cas ces données ne seront utilisées à d’autres fins (emailing, revente de vos données, etc.).
                    
                    </br>
                    <hr>
                    <h3>Cookies</h3>
                    Ce site utilise des cookies. Nous vous invitons à lire les recommandations de la CNIL « https://www.cnil.fr/fr/site-web-cookies-et-autres-traceurs » concernant leur usage.
                    </br>
                    <h3>Statistiques et mesures d’audience</h3>
                    Ce site utilise Google Analytics, un service d’analyse de site internet fourni par Google Inc. (« Google »). Google Analytics utilise des cookies, qui sont des fichiers texte placés sur votre ordinateur, pour aider le site internet à analyser l’utilisation du site par ses utilisateurs.
                    </br>
                    <hr>
                    <h3>Liens</h3>
                    Ce site peut inclure des des liens vers d’autres sites. cars-idf ne peut être tenue pour responsable de la mise à disposition de ces sites et sources externes, et ne peut supporter aucune responsabilité quant au contenus, publicités, produits, services ou tout autre matériel disponible sur ou à partir de ces sites.
                    </br>
                    <hr>
                    <h3>Limitation de responsabilité</h3>
                    Vous utilisez ce site sous votre seule et entière responsabilité. cars-idf ne pourra être tenue pour responsable des dommages directs ou indirects, tels que, notamment, préjudice matériel, pertes de données ou de programmes, préjudice financier, résultant de l’utilisation de ce site ou de sites qui lui sont liés.
                    </br>
                    <hr>
                    <h3>Mise à jour</h3>
                    cars-idf se réserve le droit de modifier et de mettre à jour, sans préavis, les présentes mentions légales et tous les éléments, produits présentés sur le site. L’ensemble de ces modifications s’impose aux internautes qui doivent consulter les présentes mentions légales lors de chaque connexion.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Signaler un abus</button>
            </div>
        </div>
    </div>
</div>
